In [1]:
import numpy as np
import pandas as pd
import bind9_utils
from datetime import datetime
import user_manager

In [2]:
user_manager.register_user('rog','nextlab','131.128.54.175/24')

Empty DataFrame
Columns: [username, zone, subnet, ip, date]
Index: []
  username     zone             subnet ip                  date
0      rog  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:04

In [3]:
user_manager.register_user('p330','nextlab','131.128.54.175/24')

  username     zone             subnet ip                  date
0      rog  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:04
  username     zone             subnet ip                  date
0      rog  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:04
1     p330  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:08

In [4]:
user_manager.register_user('dell','nextlab','131.128.54.175/24')

  username     zone             subnet ip                  date
0      rog  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:04
1     p330  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:08
  username     zone             subnet ip                  date
0      rog  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:04
1     p330  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:08
2     dell  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:12

In [5]:
bind9_utils.create_zone('nextlab')

In [3]:
bind9_utils.bind('nextlab','p330','131.128.54.47')

In [4]:
bind9_utils.bind('nextlab','rog','131.128.54.175')

In [7]:
bind9_utils.unbind('nextlab','p330')

In [2]:
bind9_utils.remove_zone('nextlab')

In [7]:
data = {
  "username": ["Nextlab", "p330","rog"],
  "zone": ['nextlab','nextlab','nextlab'],
  "subnet": ['131.128.54.0/24','131.128.54.0/24','131.128.54.0/24'],
  "ip": ["131.128.54.231", "131.128.54.47", "131.128.54.175"],
  "date": ["a","b","c"]
}

In [8]:
df = pd.DataFrame(data)

In [8]:
new_record = {}
new_record['name'] = ['mac']
new_record['zone'] = ['nextlab']
new_record['subnet'] = ['131.128.54.0/24']
new_record['IP'] = ['131.128.54.161']
new_record = pd.DataFrame(new_record)

In [9]:
df = pd.concat([df, new_record], ignore_index=True)

In [9]:
df

  username     zone           subnet              ip date
0  Nextlab  nextlab  131.128.54.0/24  131.128.54.231    a
1     p330  nextlab  131.128.54.0/24   131.128.54.47    b
2      rog  nextlab  131.128.54.0/24  131.128.54.175    c

In [75]:
df.drop(df['name'].to_list().index('Nextlab'), inplace=True)

In [77]:
df.reset_index()

   index  name     zone           subnet             IP
0      1  p330  nextlab  131.128.54.0/24  131.128.54.47

In [41]:
df = pd.concat([df, new_record],ignore_index=True)

In [10]:
df.to_csv('registered_users.csv')

In [11]:
dq = pd.read_csv('registered_users.csv')

In [12]:
dq

   Unnamed: 0 username     zone           subnet              ip date
0           0  Nextlab  nextlab  131.128.54.0/24  131.128.54.231    a
1           1     p330  nextlab  131.128.54.0/24   131.128.54.47    b
2           2      rog  nextlab  131.128.54.0/24  131.128.54.175    c

In [18]:
dq['name']

0           Nextlab
1    131.128.54.231
Name: name, dtype: object

In [3]:
bind9_utils.bind('nextlab','p330','131.128.54.47')

In [62]:
datetime.now().strftime("%m/%d/%Y, %H:%M:%S")

'04/20/2022, 21:36:55'

In [54]:
now.tm_year

2022

In [57]:
now.tm_mday

21