In [67]:
import numpy as np
import pandas as pd
import bind9_utils
from datetime import datetime
import user_manager
import socket as ss

In [68]:
def check_alive(IP, port, name):
    HOST = IP
    PORT = port
    ADDR = (HOST, PORT)
    BUFSIZE = 1024
    tcpClient = ss.socket(ss.AF_INET, ss.SOCK_STREAM)
    tcpClient.settimeout(2)
    try:
        tcpClient.connect(ADDR)
        msg = "Alive?"
        tcpClient.send(msg.encode('utf-8'))
        ack = tcpClient.recv(BUFSIZE)
        if name in ack.decode('utf-8'):
            tcpClient.close()
            return True
        else:
            tcpClient.close()
            return False
    except:
        tcpClient.close()
        return False

In [71]:
check_alive('131.128.54.231',60000,'rog')

True

In [2]:
user_manager.register_user('rog','nextlab','131.128.54.175/24')

Empty DataFrame
Columns: [username, zone, subnet, ip, date]
Index: []
  username     zone             subnet ip                  date
0      rog  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:04

In [3]:
user_manager.register_user('p330','nextlab','131.128.54.175/24')

  username     zone             subnet ip                  date
0      rog  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:04
  username     zone             subnet ip                  date
0      rog  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:04
1     p330  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:08

In [4]:
user_manager.register_user('dell','nextlab','131.128.54.175/24')

  username     zone             subnet ip                  date
0      rog  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:04
1     p330  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:08
  username     zone             subnet ip                  date
0      rog  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:04
1     p330  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:08
2     dell  nextlab  131.128.54.175/24  x  04/20/2022, 22:03:12

In [5]:
bind9_utils.create_zone('nextlab')

In [3]:
bind9_utils.bind('nextlab','p330','131.128.54.47')

In [4]:
bind9_utils.bind('nextlab','rog','131.128.54.175')

In [7]:
bind9_utils.unbind('nextlab','p330')

In [2]:
bind9_utils.remove_zone('nextlab')

In [8]:
data = {
  "username": ["Nextlab", "p330","rog"],
  "zone": ['nextlab','nextlab','nextlab'],
  "subnet": ['131.128.54.0/24','131.128.54.0/24','131.128.54.0/24'],
  "ip": ["131.128.54.231", "131.128.54.47", "131.128.54.175"],
  "date": ["a","b","c"]
}

In [9]:
df = pd.DataFrame(data)

In [10]:
new_record = {}
new_record['name'] = ['mac']
new_record['zone'] = ['nextlab']
new_record['subnet'] = ['131.128.54.0/24']
new_record['IP'] = ['131.128.54.161']
new_record = pd.DataFrame(new_record)

In [11]:
df = pd.concat([df, new_record], ignore_index=True)

In [17]:
df

,username,zone,subnet,ip,date,name,IP
0,Nextlab,nextlab,131.128.54.0/24,131.128.54.231,a,NaN,NaN
1,p330,nextlab,131.128.54.0/24,131.128.54.47,b,NaN,NaN
2,rog,nextlab,131.128.54.0/24,131.128.54.175,c,NaN,NaN
3,NaN,nextlab,131.128.54.0/24,NaN,NaN,mac,131.128.54.161
p330,hello,hello,hello,hello,hello,hello,hello

In [75]:
df.drop(df['name'].to_list().index('Nextlab'), inplace=True)

In [24]:
df

,username,zone,subnet,ip,date,name,IP
0,Nextlab,nextlab,131.128.54.0/24,131.128.54.231,a,NaN,NaN
1,p222,nextlab,131.128.54.0/24,131.128.54.47,b,NaN,NaN
2,ROG,nextlab,131.128.54.0/24,131.128.54.175,c,NaN,NaN
3,NaN,nextlab,131.128.54.0/24,NaN,NaN,mac,131.128.54.161
p330,hello,hello,hello,hello,hello,hello,hello

In [23]:
df.loc[2,'username'] = 'ROG'

In [41]:
df = pd.concat([df, new_record],ignore_index=True)

In [10]:
df.to_csv('registered_users.csv')

In [11]:
dq = pd.read_csv('registered_users.csv')

In [4]:
dq

NameError: name 'dq' is not defined

In [18]:
dq['name']

0           Nextlab
1    131.128.54.231
Name: name, dtype: object

In [3]:
bind9_utils.bind('nextlab','p330','131.128.54.47')

In [62]:
datetime.now().strftime("%m/%d/%Y, %H:%M:%S")

'04/20/2022, 21:36:55'

In [54]:
now.tm_year

2022

In [57]:
now.tm_mday

21

In [1]:
msg = "useradd p330 nextlab 131.128.54.120"

In [3]:
a = msg.split()

In [28]:
datetime.now().strftime('%m/%d/%Y, %H:%M:%S')

'04/21/2022, 16:40:42'

In [29]:
import rsa

In [30]:
public, private = rsa.newkeys(512)

In [33]:
public

PublicKey(8674929448872079921898602331415011757894732622522894211727511754006746015159407404916381703556633380869710168926883906603646599903396230783166708764144787, 65537)

In [62]:
f = open('ddns_key.pem')

In [63]:
a = f.read()
f.close()

In [64]:
a

'-----BEGIN RSA PUBLIC KEY-----\nMIIBigKCAYEApmJv25KgompJ6+LS4XkgdF7m9nIZYbKCtcCXKkMfD0KVXrCXuKOD\nO9r7Bq+k7pOxbq+XTvALJVzjekDqcq5IJcAfXOOZ+L09krfuHm7+K2FZ7emMLRg3\nf7FTa7HyPaIMTQBqqCQOg0FAHBvKcxjk3DP1w+YGZSLXXZfct/u4z2ZsIX4Wn/Ht\nJu3Qy5bH5sRcoltHyr0MOQYwf/amffpqByJOUK5Zj+kEku0Yfk3alO8kU3EC60o0\ncJK2yDXLhYyKH1/FCGNy+7aIboT5NuOhh6qcYRd9fGPDXrDBwarhT6EiozfWPmQI\n09goK9FzsGbPszfzNaQbKOm481HwicIWl4kGQUe8DJHnaKFFT+HlVvUaH4rL0ZVw\nyrVbFiKUuDJ4MQpwk/2PfF4VADa+/wAhh+K95q0LBI9OcFYTFi1X6dnHOf+plb8D\n6dBUBHNh14wj+d+3k2tkYGqKyoer9FSq4NdbscTIbCE0WZWvoDcdmu9TEp9L8c0M\nOAPe5/5pAxf9AgMBAAE=\n-----END RSA PUBLIC KEY-----\n'

In [65]:
pubkey = rsa.PublicKey.load_pkcs1(a)

In [61]:
prikey = rsa.PrivateKey.load_pkcs1(a)

In [66]:
string = 'hello'

In [ ]:
encMessage = rsa.encrypt(string.encode(),pubkey)